/* File: picnic-location.css
   Author: Alice Lean
*/

html {
	background-color: rgb(90, 124, 168); /*colours the whole background of the website*/
	height: 100%;
}

header {
	font-size: 32px;
	font-weight: bold;
	background-color: #2C3E5F;
	color: white;
	border-radius: 10px; /*rounds the corner of the border*/
	width: 100%;
	text-align: center; /*centers the text in the middle of the page*/
	margin: 0 auto; /*will fill the given width*/
	padding: 0.5em 3%; /*0.5em is vertical padding and 3% is horizontal padding*/
}

h1 {
	font-size: 25px;
	background-color: #E5E5E5;
	border-radius: 10px;
	width: 70%;
	margin: 20px;
	padding-left: 20px;
	border-style: solid;
	border-color: #2C3E5F;
}

a:hover {
	font-weight: bold;
}

/*HAMBURGER MENU START*/
.container {
  max-width: 100%;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 30%; /*keeps the nav bar to the left side*/
  position: absolute; /*makes the menu appear above everything else instead of taking its own space on the page*/
}

.navbar .nav-container li {
  list-style: none;  /*Removes bulletpoint from the the list*/
}

.navbar .nav-container a {
	color: #E5E5E5; /*colours the menu text*/
	font-size: 22px;
}

.navbar .nav-container a:hover{
    font-weight: bold; /*when hover menu, becomes bold*/
}

.nav-container {
  display: block;  /*takes up full width available*/ 
  position: relative;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px; 
  left: 20px; /*positions the checkbox*/
  z-index: 5; /*ensures the checkbox appears ontop of elements with a lower z-index when overlapped*/
  opacity: 0; /*makes the checkbox box invisible but still clickable*/
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2; /*lines appears below the checkbox*/
  display: flex;
  flex-direction: column;  /*The hamburger lines show below eachother*/
  justify-content: space-between; /*Spaces the lines so not touching*/
}

.nav-container .hamburger-lines .line { 
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px; /*appearance of the 3 lines*/
  background: #E5E5E5; /*colour of the 3 lines*/
}

.navbar #menu {
  padding-top: 120px; /*number of pixel from the top of the navbar*/
  padding-bottom: 120px; /*number of pixel from the bottom of the navbar*/
  height: 100%; /*navbar takes up full height of the website*/
  width: 100%;
  transform: translate(-150%); /*Moves the navbar outside of the screen so cannot be seen unless box checked*/
  display: flex;
  flex-direction: column; /*the menu items appear in a column*/
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out; /*gives the navbar animation when appearing*/
  align-items: center; /*centers the text vertically*/
  background-color: #1A273E; /*gives the navbar colour*/
  opacity: 95%; /*makes the navbar slightly opaque*/
}

.navbar #menu li {
  margin-bottom: 1.2rem; /*separates the menus so they are spaced out*/
}

.nav-container input[type="checkbox"]:checked ~ #menu {
  transform: translateX(0); /*The navbar is shown when box checked*/
}
/*HAMBURGER MENU END --- Reference: Álvaro (no date) Simple Centred Hamburger Menu [https://codepen.io/alvarotrigo/pen/wvrzPWL] (Accessed: 12 November 2024)*/

.subheader {
	text-align: center;
	font-size: 18px;
}

#section{
	font-size: 18px;
	background-color: #E5E5E5;
	border-radius: 10px;
	width: 50%;
	margin: 0 auto;
	padding: 0 3px 0;
	border-style: solid;
	border-color: #2C3E5F;
}

.section1{
	font-size: 18px;
	background-color: #E5E5E5;
	border-radius: 10px;
	width: 40%;  
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 3px 0;
	border-style: solid;
	border-color: #2C3E5F;
}

.section1 p {
    margin-left: 20px; /*20px between element and start of text*/   
}
	
aside {
	font-size: 18px;
	background-color: #E5E5E5;
	border-radius: 10px;
	width: 40%;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 3px 5px;
	border-style: solid;
	border-color: #2C3E5F;
}
	
aside p {
    margin-left: 20px; /*20px between element and start of text*/       
}
	
div {
		display: flex;
		align-items: flex-start; /*moves elements to the top */
		width: 100%;
}

img {
	display: block;
	margin: 0 auto;
	height: auto; 
	max-width: 100%;  
}

figure {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	float: left;
	border: solid 1px grey;
	margin: 1px 1px 1px 0;
	padding: 3px 3px 0;
	background-color: #B3A1B1; 
} 
	
figcaption {
	text-align: center;
	font-size: 16px;
}

article {
	font-size: 18px;
	background-color: #E5E5E5;
	border-radius: 6px;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	padding: 0 3px 0;
	border-style: solid;
	border-color: #2C3E5F;
}
	
#to-top{
	background-color: #CFCFCF;
	padding: 2px;
	font-size: 22px;
}
	
footer{
	width: 100%; /*takes the full length of the page*/
	padding: 0.5em 3%;
	background-color: #CFCFCF;
	text-align: center;
	margin-top: auto;
	font-size: 22px;
}

footer li{
	list-style: none;  /*Removes bulletpoint from the the list*/
	display: inline; /*structures the links beside eachother*/
	margin: 1.5%; /*Spaces the lines so not touching*/
}

@media screen and (min-width: 501px) { /*elements appear horizontally on screens larger than or 501px*/
    main img {
		width: 30%;  /*only applied for screens larger than or 501px*/
	}
	
	div {
		flex-direction: row;
	}
}

@media screen and (max-width: 500px) { /*elements appear vertically on screens smaller than or 500px*/
    div {
        width: 90%;
        margin: 0 auto;
        float: none; /* Remove float to stack elements vertically */
        padding: 15px;
		flex-direction: column;
		align-items: center;
    }
	
	div aside{
		align-items: center;
	}		

    /* Flex adjustments for the section container */
    .section1 {
        align-items: center;
		width: 80%;
    }
	
	#section {
		width: 80%;  /*only applied for screens smaller than or 500px*/
	}
	
	aside {
		width: 80%;  /*only applied for screens smaller than or 500px*/
	}
	
	article {
		width: 80%;  /*only applied for screens smaller than or 500px*/
	}
}
	